
/* Конспект */

/* body {
    font-family: sans-serif;
    border: 5px red solid;
    text-align: center;
} */

/* селектор тегу, селектор типу - не дає достатньої зручності */
/* h1 { */
    /* color: blue; */
    /* font-family: initial;  не наслідувати стилі від BODY якщо даний стиль має опцію наслідувати предка */
    /* border: inherit;  наслідувати стилі від BODY якщо цей стиль не має можливості наслідувати предка */
/* } */

/* селектор класу - найкраще використ в роботі*/
/* .annotation {
    font-size: 10px;
} */

/* Селектор ідентифікатора - не рекомендується використ, використ лише для JS */
/* #subscribe-btn {
    color: red !important;
} */

/* Як називати селектори:

Кебаб кейс: kebab-case  - найкраще використ
Кемел кейс: camelCase (
            lowerCamelCase
            UpperCamelCase (PascalCase)
)
Снейк кейс: snake_case
            UPPER_SNAKE_CASE */


/* Пріоритетність селекторів (специфічність):
селектори тегу мають найнижчу спечифічність, найнижчий пріоритет
селектора класу мають середню специфічність, середній пріоритет
селектори ідентифікатора має найвищу специфічність, найвищий пріоритет
інлайн стилі мають найвищу специфічність, причому ті що написані першими мають вищу специфічність ніж ті що далі написані!!!!!
а в каскаді вищий пріоритет має те що написано  нижче, те що вижче має нижчу специфічність!!!!
!important - мають найвищу специфічність, перебивають всі стилі, але використовувати його дуже нерекомендовано - бо це значить що ти сам не розумієш принцип свого коду, фуфуфу */


/* спадкування - ті стилі які стосуються тексту вони наслідують параметри задані предку, всі інші не наслідують предка по замовчуванню (приблизно) */
